adala
adversarial-robustness-toolbox
agentforge
agentgpt
agentpilot
aida
aif360
ailegion
apache-nifi
apache-systemds
auto-gpt
cirq
crewai
dbrx
deepseek-llm
dvc
elk-stack
evidently
falcon-40b
kestra
kubernetes
kuverto
langchain
marvin
mistral-7b
mixtral-8x7b
opencog
opennebula
qiskit
qwen
rapyuta
rasa
ray
ros
scalene
superagi
tigerbot
vicuna