[Desktop Entry]
Name=AscendAI
Comment=Boot the Sovereign Core
Exec=bash -c "./Neo.sh"
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;